body {
    margin: 0px auto;
    overflow: hidden;
    background: rgb(50, 50, 50);
      display: flex;
  justify-content: center;
  align-items: center;
}

#cnv {

}

#loading-alert {
    position: absolute;
    top: 0;
    font-size: 50px;
}
