body {
    margin: 0px auto;
    overflow: hidden;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

cnv {
    margin: 0px auto;
    width: 600px;
    height: 600px;
    align-self: center;
    flex: none;
    flex-grow: 1;
    flex-shrink: 0;
}

#loading-alert {
    position: absolute;
    top: 0;
    font-size: 50px;
}
